body

/* CONTENIDO PRINCIPAL */
    {
    width: 1320px;
    height: 720px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    /* Usamos flexbox para alinear los elementos */
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9), transparent),
        url("https://images2.alphacoders.com/132/1322753.jpeg");
}

img

/* IMAGENES DE LA TABLA */
    {
    width: 50px;
    height: 50px;
}

.barra

/* BARRA SUPERIOR CON LOGO */
    {
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: white;
    text-align: center;
    display: inline-block;
    transition: transform 0.2s ease-in-out;
    left: 0;
    top: 0;
}

#logo

/* LOGO DE BARRA SUPERIOR */
    {
    width: 70px;
    height: 70px;
}

#logo:hover

/* ESCALAR EL LOGO CUANDO APOYES EL MOUSE */
    {
    transform: scale(1.1);
}

.titulo

/* BARRA LATERAL */
    {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: white;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    /* COMENTAR */
    white-space: nowrap;
    /* COMENTAR */
    text-align: center;
    font-family: Tahoma;
    color: red;
    clip-path: polygon(0 0, 100% 0, 90% 80%, 50% 100%, 0% 100%);
    /* COMENTAR */
}

.titulo h1

/* TITULO DE BARRA LATERAL */
    {
    font-size: 80px;
}

.duelistas

/* CUADRADO DUELISTAS */
    {
    padding: 20px;
    width: 250px;
    height: 320px;
    margin: 10px;
    /* Espacio entre los cuadrados */
    float: left;
    /* Para que estén uno al lado del otro */
    left: 200px;
    position: fixed;
    top: 300px;
    background-color: rgba(120,
            120,
            120,
            0.4);
    /* Color azul con 80% de transparencia */
}

.iniciador {
    padding: 20px;
    width: 250px;
    height: 320px;
    background-color: #3498db;
    margin: 10px;
    /* Espacio entre los cuadrados */
    float: left;
    /* Para que estén uno al lado del otro */
    left: 500px;
    position: fixed;
    top: 300px;
    background-color: rgba(120,
            120,
            120,
            0.4);
    /* Color azul con 80% de transparencia */
}

.centinela {
    padding: 20px;
    width: 250px;
    height: 320px;
    background-color: #3498db;
    margin: 10px;
    /* Espacio entre los cuadrados */
    float: left;
    /* Para que estén uno al lado del otro */
    left: 800px;
    position: fixed;
    top: 300px;
    background-color: rgba(120,
            120,
            120,
            0.4);
    /* Color azul con 80% de transparencia */
}

.controlador {
    padding: 20px;
    width: 250px;
    height: 320px;
    background-color: #3498db;
    margin: 10px;
    /* Espacio entre los cuadrados */
    float: left;
    /* Para que estén uno al lado del otro */
    left: 1100px;
    position: fixed;
    top: 300px;
    background-color: rgba(120,
            120,
            120,
            0.4);
    /* Color azul con 80% de transparencia */
}

.conteiner {
    display: flex;
    /* Usamos flexbox para distribuir los elementos */
}

.conteiner2 {
    display: flex;
    flex-wrap: wrap;
    /* Los divs se ajustarán automáticamente a la línea siguiente */
    padding: 20px;
    /* Espacio alrededor de los rectángulos */
    flex-grow: 1;
    /* El contenido tomará el espacio restante */
    /* BUSCAR FUNCION EXACTA*/
}

p {
    text-align: center;
    font-family: Tahoma;
    color: white;
}

h3 {
    text-align: center;
    font-family: Tahoma;
    color: white;
    font-size: 25px;
}

.num {
    text-align: center;
    font-family: Tahoma;
    color: red;
    font-size: 25px;
}

table {
    width: 80%;
    border-collapse: collapse;
    /* Fusiona los bordes de las celdas */
    text-align: center;
}

table,
td,
th {
    border: 4px solid black;
    /* Borde de 2px de ancho, sólido y negro */
    padding: 1px;
    /* Espaciado interno */
    /* Otros estilos */
}

#descripción {
    margin-top: 120px;
    margin-left: 250px;
    font-family: Tahoma;
    color: white;
    font-size: 30px;
    text-align: left;
}