body /* CONTENIDO PRINCIPAL */  
{
width: 1320px;
height: 720px;
background-size:cover;
background-repeat: no-repeat;
background-attachment: fixed;
display: flex; /* Usamos flexbox para alinear los elementos */
 background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9), transparent), url('https://images2.alphacoders.com/132/1322753.jpeg');

  

}

img

/* IMAGENES DE LA TABLA */
    {
    width: 50px;
    height: 50px;
}

.barra

/* BARRA SUPERIOR CON LOGO */
    {
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: white;
    text-align: center;
    display: inline-block;
    transition: transform 0.2s ease-in-out;
    left: 0;
    top: 0;
}

#logo

/* LOGO DE BARRA SUPERIOR */
    {
    width: 70px;
    height: 70px;
}

#logo:hover

/* ESCALAR EL LOGO CUANDO APOYES EL MOUSE */
    {
    transform: scale(1.1);
}

.titulo

/* BARRA LATERAL */
    {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: white;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    /* COMENTAR */
    white-space: nowrap;
    /* COMENTAR */
    text-align: center;
    font-family: Tahoma;
    color: red;
    clip-path: polygon(0 0, 100% 0, 90% 80%, 50% 100%, 0% 100%);
    /* COMENTAR */
}

.titulo h1

/* TITULO DE BARRA LATERAL */
    {
    font-size: 80px;
}

.duelistas

/* CUADRADO DUELISTAS */
    {
    padding: 20px;
    width: 250px;
    height: 320px;
    margin: 10px;
    /* Espacio entre los cuadrados */
    float: left;
    /* Para que estén uno al lado del otro */
    left: 200px;
    position: fixed;
    top: 300px;
    /* Color azul con 80% de transparencia */
    background: linear-gradient(to bottom, transparent, rgba(60, 60, 60, 0.7));
}

.iniciador
/* CUADRADO INICIADOR */
 {
    padding: 20px;
    width: 250px;
    height: 320px;
    margin: 10px;
    /* Espacio entre los cuadrados */
    float: left;
    /* Para que estén uno al lado del otro */
    left: 500px;
    position: fixed;
    top: 300px;
     /* Color azul con 80% de transparencia */
     background: linear-gradient(to bottom, transparent, rgba(60, 60, 60, 0.7));
}

.centinela 
/* CUADRADO CENTINELA */
{
    padding: 20px;
    width: 250px;
    height: 320px;
    margin: 10px;
    /* Espacio entre los cuadrados */
    float: left;
    /* Para que estén uno al lado del otro */
    left: 800px;
    position: fixed;
    top: 300px;
     /* Color azul con 80% de transparencia */
     background: linear-gradient(to bottom, transparent, rgba(60, 60, 60, 0.7));
}

.controlador
/* CUADRADO CONTROLADOR */
 {
    padding: 20px;
    width: 250px;
    height: 320px;

    margin: 10px;
    /* Espacio entre los cuadrados */
    float: left;
    /* Para que estén uno al lado del otro */
    left: 1100px;
    position: fixed;
    top: 300px;
   
    /* Color azul con 80% de transparencia */
    background: linear-gradient(to bottom, transparent, rgba(60, 60, 60, 0.7));
    
    
    
}

.conteiner 
/* CONTIENE EL CONTEINER2 , LA BARRA SUPERIOR , LA BARRA LATERAL  */{
    display: flex;
    /* Usamos flexbox para distribuir los elementos */
}


.conteiner2
/* CONTIENE LOS CUADROS DE AGENTES */
{


	display: flex;
    flex-wrap: wrap; /* Los divs se ajustarán automáticamente a la línea siguiente */
    padding: 20px; /* Espacio alrededor de los rectángulos */
    flex-grow: 1; /* El contenido tomará el espacio restante */  /* BUSCAR FUNCION EXACTA*/ 
}

p 
/* DESCRIPCIÓN DE ROL */
{
    text-align: center;
    font-family: Tahoma;
    color: white;
}

h3 
/* NOMBRE DE AGENTES */{
    text-align: center;
    font-family: Tahoma;
    color: white;
    font-size: 25px;
}

.num 
/* NUMERO DE ROL */
{
    text-align: center;
    font-family: Tahoma;
    color: red;
    font-size: 25px;
}




table
/* CUADRICULAS DE AGENTES */
{
	width: 80%;
	border-collapse: collapse; /* Fusiona los bordes de las celdas */
	text-align: center

}

table,
td,
th 
/* CUADRICULAS DE AGENTES */
{
    border: 4px solid black;
    /* Borde de 2px de ancho, sólido y negro */
    padding: 1px;
    /* Espaciado interno */
    /* Otros estilos */
}

#descripción 
/* DESCRIPCIÓN INICIAL DE LA PAGINA */
{
    margin-top: 120px;
    margin-left: 250px;
    font-family: Tahoma;
    color: white;
    font-size: 30px;
    text-align: left;
}




.logos
{
    display: flex;
    flex-wrap: wrap; /* Los divs se ajustarán automáticamente a la línea siguiente */
    padding: 20px; /* Espacio alrededor de los rectángulos */
    flex-grow: 1; /* El contenido tomará el espacio restante */  /* BUSCAR FUNCION EXACTA*/ 
position: fixed;

}


#logoduelista
{
    width: 100px;
    height: 100px;
 padding: 20px;
 margin: 10px;
 /* Espacio entre los cuadrados */
 float: left;
 /* Para que estén uno al lado del otro */
 left: 190px;
 position: fixed;
 top: 260px;
 opacity: 70%;

}



#logoiniciador
/* CUADRADO INICIADOR */
 {
    padding: 20px;
    width: 100px;
 height: 100px;
    margin: 10px;
    /* Espacio entre los cuadrados */
    float: left;
    /* Para que estén uno al lado del otro */
    left: 490px;
    position: fixed;
    top: 260px;
    opacity: 70%;
}



#logocentinela
/* CUADRADO CENTINELA */
{
    padding: 20px;
    width: 100px;
 height: 100px;
    
    margin: 10px;
    /* Espacio entre los cuadrados */
    float: left;
    /* Para que estén uno al lado del otro */
    left: 790px;
    position: fixed;
    top: 260px;
    opacity: 70%;
    
}



#logocontrolador
/* CUADRADO CONTROLADOR */
 {
    padding: 20px;
    width: 100px;
    height: 100px;
    
    margin: 10px;
    /* Espacio entre los cuadrados */
    float: left;
    /* Para que estén uno al lado del otro */
    left: 1090px;
    position: fixed;
    top: 260px;
   opacity: 70%;
}